<Alloy>
	<Tab id="tabSettings" title="Settings" icon="images/light_gear.png">
		<Window title="Settings" id="Settings">
			
			<TableView style="Titanium.UI.iPhone.TableViewStyle.GROUPED" minRowHeight="50dip">
				<TableViewSection>
					<TableViewRow hasChild="true" onClick="showAgePicker">
						<Label class="label_title">Age</Label>
						<Label id="label_age" class="label_subtitle_right"></Label>
					
					</TableViewRow>
					
				</TableViewSection>
				
				<TableViewSection>
					<TableViewRow hasChild="true" onClick="showGenderPicker">
						<Label class="label_title">Gender</Label>
						<Label id="label_gender" class="label_subtitle_right"></Label>
						
					</TableViewRow>
					
				</TableViewSection>
				
				<TableViewSection>
					<TableViewRow  hasChild="true" onClick="showHeightPicker">
						<Label class="label_title">Height</Label>
						<Label id="label_height" class="label_subtitle_right"></Label>
						
					</TableViewRow>
					
				</TableViewSection>
				
			</TableView>
			
		</Window>
	</Tab>
	
</Alloy>
